<!--- This is the base html template for all .html files in this project 
      The other .html files overwrite the base
--->
<!DOCTYPE html>
<html>
<!--- The head tag consist of meta data related to the website--->

<head>
  <!--- Defines the characters that are used for this document --->
  <meta charset="utf-8" />
  <!--- Settings for screen width --->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--- Link to CDN (Content delivery network) loads custom CSS without downloading to style the website--->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous" />

  <!--- Default title for the website (Jinja templating engine to process python code) --->
  <title>{% block title %}Home{% endblock %}</title>
</head>

<!--- The body tag consists of the actual HTML for body of the website--->

<body>
  <!--- Defines a navbar--->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--- Placement of navbar options at the right side--->
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <!--- Checks if the user is logged in
              Changes the options shown depending on the login status --->
        {% if login_status == True %}
        <a class="nav-item nav-link" id="home" href="/">Home</a>
        <a class="nav-item nav-link" id="habits" href="/habits">Habits</a>
        <a class="nav-item nav-link" id="analytics" href="/analytics">Analytics</a>
        {% else %}
        <a class="nav-item nav-link" id="login" href="/login">Login</a>
        <a class="nav-item nav-link" id="register" href="/register">Register</a>
        {% endif %}
      </div>
    </div>
    <!--- Placement of navbar options at the left side--->
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <div class="navbar-nav ml-auto">
        {% if login_status == True %}
        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <!--- Manages the messages, which get flashed to the user--->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <!--- Loopes the category inside messages--->
  {% for category, message in messages%}
  <!--- If the messages are category error--->
  {% if category == 'error' %}
  <div class="alert alert-danger alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--- If the messages are category success--->
  {% else %}
  <div class="alert alert-success alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}
  <br />
  <!--- Placeholder for content on the website--->
  <div class="container">{% block content%} {% endblock %} </div>
  <!--- Allows for javascript elements--->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>