<!--- html content for the views.login route--->

<!--- Extends the base template to this file and changes the page name--->
{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content%}
<form method="POST">
    <!--- Manages the html for Login--->
    <h3 align="center">Login</h3>
    <!--- Creates form "username" for user input--->
    <div class="form-group">
        <label for="username">Username</label>
        <input type="username" class="form-control" id="username" name="username" placeholder="Enter username" />
    </div>
    <!--- Creates form "password" for user input--->
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
    </div>
    <br />
    <!--- Creates a button for user confirmation--->
    <button id="login_button" type="login" class="btn btn-primary">Login</button>
</form>
{% endblock %}